#app .badge
  font-size: 1rem
  height: 22px
  line-height: 1.125
  border-radius: 4px
  padding: 0 10px

#app .badge.tip
  color: #a2f6a2

#app .badge.warning
  color: #f4f48b

#app .badge.error
  color: #f8b9b9
