.custom-block.tip
  background-color: $backgroundColorThree
  border-color: $postColorTwo

.custom-block.warning
  background-color: rgba(235, 235, 51, 0.2)
  border-color: $postColorOne
  color: #f4f48b
  .custom-block-title
    color: #e8e817

.custom-block.danger
  background-color: rgba(239, 93, 93, 0.2)
  border-color: $postColorFive
  color: #f8b9b9
  .custom-block-title
    color: #ea2e2e

.custom-block.details
  background-color: $backgroundColorThree
  margin: 1rem 0
  padding: 1.5rem
  border-radius: 0.3125rem
  summary
    rfs-font-size(1.25rem)
