.edgePath 
  .path
    stroke: $borderColor !important
  .arrowheadPath
    fill: $borderColor !important
.edgeLabel
  background-color: $codeBgColor !important
  color: $textColor !important
  font-size: 1rem
  rect
    fill: $darkBorderColor !important
    opacity: 1 !important
.node 
  rect
    fill: $codeBgColor !important
    stroke: $darkBorderColor !important
    stroke-width: 0.125rem !important
  .label
    color: $textColor !important
