table
  margin: 1.25rem 0
  thead
    tr
      border-top: 0.0625rem solid $textColor
      th
        border: 0.0625rem solid $textColor
  tbody
    tr:nth-child(2n)
      background-color: $backgroundColorTwo
    tr
      border-top: 0.0625rem solid $textColor
      td
        border: 0.0625rem solid $textColor
