@require '~rfs/stylus.styl'

.site-name
    rfs-font-size(1.5rem)

h1
    rfs-font-size(2.5rem)

h2
    rfs-font-size(2.25rem)

p, span, li, button, #pagination, .theme-code-block
    rfs-font-size(1.25rem)

.sidebar-heading > span
    rfs-font-size(1.1875rem)

.sidebar-group-items > li
    rfs-font-size(1.1875rem)

.theme-code-group__li
    rfs-font-size(1.625rem)

span.abbreviation, .footer
    rfs-font-size(1.125rem)

.icons
    rfs-font-size(2rem)

.icons :not(:last-child) .icon
    rfs-margin-right(4.6875rem)

.navbar
    .dropdown-title
        rfs-font-size(1.25rem)
    .site-name
        rfs-font-size(1.5rem)
    div.links
        .search-box
            input
                rfs-font-size(1.125rem)
        .nav-links
            rfs-font-size(1.25rem)
.sidebar
    .nav-links
        .nav-item
            rfs-font-size(1.1875rem)
            .mobile-dropdown-title
                rfs-font-size(1.1875rem)
        .dropdown-item
            a
                rfs-font-size(1.15625rem)
            h4
                rfs-font-size(1.15625rem)
        .dropdown-subitem > a
            rfs-font-size(1.15625rem)
.home
    .hero
        h1
            rfs-font-size(3rem)
        .description
            rfs-font-size(1.6rem)
        .action-button
            rfs-font-size(1.2rem)
    .features
        .feature
            h2
                rfs-font-size(1.4rem)