$rfs-base-value = 1rem
$rfs-breakpoint-unit = rem
$rfs-breakpoint = 75rem

$backgroundColor = #1f2229
$backgroundColorTwo = #21242c
$backgroundColorThree = #2c303a
$backgroundColorFour = #373c49

$accentColor = #eb7132

$textColor = #e6e6e6
$textColorTwo = #fff

$borderColor = #754d34
$darkBorderColor = #16181d

$darkBoxShadowColor = #0b0c0f

$disabledColor = #aaaaaa

$badgeTipColor =	rgba(93, 239, 93, 0.2)
$badgeWarningColor = rgba(235,235,51,0.2)
$badgeErrorColor =rgba(239, 93, 93, 0.2)

$postColorOne = #ebeb33
$postColorTwo = #33eb61
$postColorThree = #33ebeb
$postColorFour = #cc99ff
$postColorFive = #ef5d5d

$MQMobile = 850px
