pre.vue-container
  border-left-width: 0.5rem
  border-left-style: solid
  border-color: #33eb61
  border-radius: 0
  padding: 0.1rem 1.5rem
  margin: 2rem 0
  code
    p
      padding: 1em 0
      margin: 0px 0 -22px 0
    code
      background-color: #33eb61
      padding: 0.1875rem 0.3125rem
      border-radius: 0.1875rem
      color #000
    em
      color: #808080
