.external-link-wrap
  display: inline-flex
.external-link-headers
  rfs-font-size(1.75rem)
  line-height: 1.25
  span
    rfs-font-size(1.75rem)
svg.icon.outbound
  color: $accentColor
  margin: 0 0.125rem 0 0.25rem
