.edgePath 
  .path
    stroke: #754d34 !important
  .arrowheadPath
    fill: #754d34 !important
.edgeLabel
  background-color: #282c34 !important
  color: #e6e6e6 !important
  font-size: 1rem
  rect
    fill: #16181d !important
    opacity: 1 !important
.node 
  rect
    fill: #282c34 !important
    stroke: #16181d !important
    stroke-width: 0.125rem !important
  .label
    color: #e6e6e6 !important
