.edgePath 
  .path
    stroke: $borderColor !important
  .arrowheadPath
    fill: $borderColor !important
.edgeLabel
  background-color: $codeBackgroundColor !important
  color: $textColor !important
  font-size: 1rem
  rect
    fill: #16181d !important
    opacity: 1 !important
.node 
  rect
    fill: $codeBackgroundColor !important
    stroke: #16181d !important
    stroke-width: 0.125rem !important
  .label
    color: $textColor !important
