h1 {
  font-size 2.5rem
}

h2 {
  font-size 2.25rem
  border-bottom 0.125rem solid #754d34
}

.theme-default-content:not(.custom) > h1 {
  padding-top 7.625rem
}

.theme-default-content:not(.custom) > h2 {
  padding-top 4.453rem
}

.MJX-TEX {
  font-size 1.25rem
}

html
  background-color #1f2229
  body
    background-color #1f2229
    .navbar
      display flex
      align-items center
      height 4.5rem
      background-color #1f2229
      border-bottom 0.125rem solid #754d34
      .dropdown-title
        font-size 1.25rem
      .nav-dropdown
        background-color #1f2229
        border 0.125rem solid #754d34
        padding 0.8rem 0
        .dropdown-item
          padding-bottom 0.4rem
      .site-name
        font-size 1.5rem
      div.links
        background-color transparent
        height 3rem
        align-items center
        .search-box
          margin-right 1.5rem
          input
            background-color transparent
            border 0.125rem solid #69452f
            color #e6e6e6
            font-size 1rem
          ul.suggestions
            background-color #1f2229
            border 0.125rem solid #69452f
          ul:hover
            background-color #1f2229
            li:hover
              background-color #1f2229
        .nav-links
          font-size 1.25rem
          .nav-item:first-child
            margin-left 0
          .nav-item
            margin-left 1.75rem
    .sidebar
      background-color #1f2229
      background-image linear-gradient(90deg, #21242c, #1f2229)
      border-right 0.125rem solid #754d34
      font-size 1.188rem
      .nav-links
        border-bottom 0
        .nav-item:first-child
          margin-top 1.15rem
    .home
      padding 8rem 2rem 0
      .hero
        border 0.125rem solid #16181d
        box-shadow 0 0.5rem 1rem 0 #16181d
        transition 0.2s
        border-radius 5.625rem
        margin-bottom 0.625rem
        background-image radial-gradient(circle at center center, #2c303a, #1f2229)
      .hero:hover
        box-shadow 0.125rem 0.5rem 1rem 0.125rem #0b0c0f
      .features
        border-top 0.125rem solid #754d34
        border-bottom 0.125rem solid #754d34
        .feature
          text-align center

main.home
  height 90vh
  .content-wrapper
    min-height calc(90vh - 10rem)
main.page
  height 100vh
  .content-wrapper
    min-height calc(100vh - 10rem)

.theme-default-content:not(.custom) {
  max-width 69.531rem
}

footer.page-edit {
  padding 0
}