h2
  border-bottom 0.125rem solid $borderColor

.theme-default-content:not(.custom) > h1
  padding-top 7.5rem

.theme-default-content:not(.custom) > h2
  padding-top 0
  margin-top 2rem

html
  background-color #1f2229
  body
    background-color #1f2229
    .navbar
      display flex
      align-items center
      height 4.5rem
      background-color #1f2229
      border-bottom 0.125rem solid $borderColor
      .nav-dropdown
        text-align center
        background-color #1f2229
        border 0.125rem solid $borderColor
        padding 0.8rem 0
        .dropdown-item
          padding-bottom 0.4rem
          h4
            border-top 0.0625rem solid $borderColor
            cursor initial
            margin 0.45rem 0.375rem 0
          a.router-link-active::after
            left 0.75rem
      div.links
        background-color transparent
        height 3rem
        align-items center
        .search-box
          margin-right 1.5rem
          input
            background-color transparent
            border 0.125rem solid $borderColor
            color $textColor
          ul.suggestions
            background-color #1f2229
            border 0.125rem solid $borderColor
          ul:hover
            background-color #1f2229
            li:hover
              background-color #1f2229
        .nav-links
          .nav-item:first-child
            margin-left 0
          .nav-item
            margin-left 1.75rem
            a:not(.external).router-link-active 
              border-bottom 0
          .nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-exact-active
            border-bottom 0.125rem solid #ed7c42
    .sidebar
      background-image linear-gradient(90deg, #21242c, #1f2229)
      border-right 0.125rem solid $borderColor
      .nav-links
        border-bottom 0
        .nav-item:first-child
          margin-top 1.15rem
    .home
      padding 8rem 2rem 0
      .hero
        border 0.125rem solid #16181d
        box-shadow 0 0.5rem 1rem 0 #16181d
        transition 0.2s
        border-radius 5.625rem
        margin-bottom 0.625rem
        background-image radial-gradient(circle at center center, #2c303a, #1f2229)
      .hero:hover
        box-shadow 0.125rem 0.5rem 1rem 0.125rem #0b0c0f
      .features
        border-top 0.125rem solid $borderColor
        border-bottom 0.125rem solid $borderColor
        .feature
          text-align center

main.home
  height 90vh
  .content-wrapper
    min-height calc(90vh - 10rem)
main.page
  height 100vh
  .content-wrapper
    min-height calc(100vh - 10rem)

.theme-default-content:not(.custom)
  max-width 69.53125rem
  padding-bottom 1.125rem

footer.page-edit
  padding-top 1.5rem
  padding-bottom 1.125rem

.footer
  display flex
  flex-direction column
  align-items center
  padding 2.5rem 2.5rem 2rem
  border-top 0
  color lighten($textColor, 25%)
  .icons
    display flex
    padding-bottom 1.75rem
    min-width 12.5rem
    /* .icon:hover
      color $accentColor */