@import '~rfs/stylus'

h1
  rfs-font-size(2.5rem)

h2
  rfs-font-size(2.25rem)
  border-bottom: 0.125rem solid $borderColor

h3
  rfs-font-size(2rem)

h4
  rfs-font-size(1.75rem)

h5
  rfs-font-size(1.5rem)

p, span, li, button, #pagination
  rfs-font-size(1.25rem)

a
  display: inline-block

.sidebar-heading > span
  rfs-font-size(1.1875rem)

.sidebar-group-items > li
  rfs-font-size(1.15625rem)

.sidebar-sub-headers > li
  rfs-font-size(1.125rem)

.theme-code-group__li
  rfs-font-size(1.625rem)

.theme-code-block
  rfs-font-size(1.4375rem)

.no-wrap-icons, .wrap-icons
  rfs-font-size(2rem)

.no-wrap-icons > a:not(:last-child)
  rfs-margin-right(4.6875rem)

@media (min-width: 26.3125rem)
  .wrap-icons > a
    rfs-margin-left(4.6875rem)

@media (max-width: 26.25rem)
  .wrap-icons > a:not(:first-child)
    rfs-margin-left(4.6875rem)

span.abbreviation, .footer
  rfs-font-size(1.125rem)

html
  background-color: #1f2229
  body
    background-color: #1f2229
    .navbar
      display: flex
      align-items: center
      height: 4.5rem
      background-color: #1f2229
      border-bottom: 0.125rem solid $borderColor
      .sidebar-button
        margin-top: 0.375rem
      span.site-name
        rfs-font-size(1.5rem)
      .nav-dropdown
        text-align: center
        background-color: #1f2229
        border: 0.125rem solid $borderColor
        padding: 0.8rem 0
        .dropdown-item
          padding-bottom: 0.4rem
          a:first-child
            color: inherit
            &.router-link-active::after
              border-left: 0
            &.router-link-exact-active
              color: $accentColor
            &.router-link-exact-active::after
              border-left: 0.3125rem solid $accentColor
          h4
            rfs-font-size(1.25rem)
            border-top: 0.0625rem solid $borderColor
            cursor: initial
            margin: 0.45rem 0.375rem 0
          a:hover
            color: $accentColor
          a.router-link-active::after
            left: 0.75rem
      .links
        background-color: transparent
        height: 3rem
        align-items: center
        .search-box
          margin-right: 1.5rem
          input
            rfs-font-size(1.125rem)
            background-color: transparent
            border: 0.125rem solid $borderColor
            color: $textColor
          .suggestions
            background-color: #1f2229
            border: 0.125rem solid $borderColor
            .suggestion
              &.focused
                background-color #1f2229
        @media (max-width: $MQMobile)
          .search-box
            margin-right: 0
            input
              left 0
            .suggestions
              left: initial
        .nav-links
          rfs-font-size(1.25rem)
          .nav-item:first-child
            margin-left: 0
          .nav-item
            margin-left: 1.75rem
            a:not(.external).router-link-active
              border-bottom: 0
            .dropdown-title
              rfs-font-size(1.25rem)
          .nav-item > a:not(.external):hover, .nav-item > a:not(.external).router-link-exact-active
            border-bottom: 0.125rem solid #ed7c42
    .sidebar
      background-image: linear-gradient(90deg, #21242c, #1f2229)
      border-right: 0.125rem solid $borderColor
      .nav-links
        border-bottom: 0
        .nav-item:first-child
          margin-top: 1.15rem
          a
            color: inherit
            &:hover, &.router-link-exact-active
              color: $accentColor
        .nav-item
          .nav-link
            rfs-font-size(1.1875rem)
          .mobile-dropdown-title
            rfs-font-size(1.1875rem)
          .dropdown-item
            a:first-child
              color: inherit
              &.router-link-active::after
                border-left: 0
              &.router-link-exact-active
                color: $accentColor
              &.router-link-exact-active::after
                border-left: 0.3125rem solid $accentColor
            a
              rfs-font-size(1.15625rem)
              &:hover
                color: $accentColor
            h4
              rfs-font-size(1.15625rem)
            .dropdown-subitem > a
              rfs-font-size(1.15625rem)
    .home
      padding: 0
      .hero
        margin-left: 2rem
        margin-right: 2rem
        border: 0.125rem solid #16181d
        box-shadow: 0 0.5rem 1rem 0 #16181d
        transition: 0.2s
        border-radius: 5.625rem
        margin-bottom: 0.625rem
        background-image: radial-gradient(circle at center center, #2c303a, #1f2229)
        padding: 2rem
        img
          transition: transform 0.2s
        h1
          rfs-font-size(3rem)
        .description
          rfs-font-size(1.6rem)
        .action-button
          rfs-font-size(1.2rem)
      .hero:hover
        box-shadow: 0.125rem 0.5rem 1rem 0.125rem #0b0c0f
        img
          transform: scale(1.1)
      .features
        margin-left: 2rem
        margin-right: 2rem
        border-top: 0.125rem solid $borderColor
        border-bottom: 0.125rem solid $borderColor
        .feature
          text-align: center
          h2
            rfs-font-size(1.4rem)
    @media (max-width: 44.9375rem)
      .home
        .hero
          border-radius: 3.75rem
    @media (max-width: 26.1875rem)
      .home
        .hero
          border-radius: 2.8125rem

// External Links
.external-link-wrap
  display: inline-flex
.external-link-headers
  rfs-font-size(1.75rem)
  line-height: 1.25
  span
    rfs-font-size(1.75rem)
svg.icon.outbound
  color: $accentColor
  margin: 0 0.125rem 0 0.25rem

// Custom Containers
.custom-block.tip
  background-color: #2c303a
  border-color: $postColorTwo

.custom-block.warning
  background-color: rgba(235, 235, 51, 0.2)
  border-color: $postColorOne
  color: #f4f48b
  .custom-block-title
    color: #e8e817

.custom-block.danger
  background-color: rgba(239, 93, 93, 0.2)
  border-color: $postColorFive
  color: #f8b9b9
  .custom-block-title
    color: #ea2e2e

.custom-block.details
  background-color: #2c303a
  margin: 1rem 0
  padding: 1.5rem
  border-radius: 0.3125rem
  summary
    rfs-font-size(1.25rem)

// Emoji Wrapping
.emoji-wrap
  display: inline-flex

// Posts
.theme-default-content:not(.custom) > h2
  margin-top: -3.85rem
.theme-default-content:not(.custom) > h3
  margin-top: -3.85rem
.theme-default-content:not(.custom) > h4
  margin-top: -3.85rem
.theme-default-content:not(.custom) > h5
  margin-top: -3.85rem

main.home
  height: 100vh
  .home-content-wrapper
    min-height: calc(100vh - 10.8125rem)
    .home-content
      padding-top: 8rem
main.page
  height: 100vh
  .page-content-wrapper
    min-height: calc(100vh - 10.8125rem)
    .theme-default-content:not(.custom) > *:first-child
      margin-top: -5rem
    .theme-default-content
      max-width: 69.53125rem
      padding-bottom: 0
      h1
        padding-top: 11rem
        margin-bottom: -1rem
      @media (max-width: 54.6875rem)
        h1, h2
          text-align: center
        a.header-anchor
          float: none
      div.emoji-wrap
        text-decoration: inherit
        display: inline-block
        span
          display: inline-block

      // Code Groups and Code Blocks
      .theme-code-group
        margin-top: 2rem
        div.line-numbers-mode::before
          font-size: 1rem
          top: 0.03125rem
        pre
          margin-bottom: 2rem
          code
            span
              font-size: 1em
              height: 100%
        .highlighted
          background-color: #16181d
        .highlighted:before
          background-color: #16181d
      @media (max-width: 26.1875rem)
        div[class*="language-"]
          margin: 0

      // codefence
      .codefence
        color: #e6e6e6
        margin-top: 2rem
        margin-bottom: 0
        border: 0.0625rem solid #0b0c0e
        rfs-font-size(1.625rem)
        .heading
          background-color: #21252b
          font-size: 0.85em
          padding: 0.75rem
        .heading:after
          opacity: 0.95
          rfs-font-size(2.25rem)
          margin: 0.375rem 0.75rem 0 0.75rem
          background-size: 0.85em 0.605em
          width: 0.85em
          height: 0.605em
        .CodeMirror
          background-color: #282c34
          .CodeMirror-lines
            padding: 0.5rem 0
            .CodeMirror-linenumber
              rfs-font-size(1.25rem)
              color: #4e5565
              padding: 0.125rem 0.25rem 0.125rem 0.375rem
            .CodeMirror-line
              padding: 0.125rem 0.375rem
              .cm-keyword
                color: #cc99cd
              .cm-def
                color: #f08d49
              .cm-operator
                color: #67cdcc
              .cm-number
                color: #f28779
              .cm-variable-2
                color: #99c7ff
              .cm-property
                color: #dbd56e
              .cm-comment
                color: #999
              .cm-variable
                color: #e6e6e6
              .cm-string
                color: #7ec699
              .cm-atom
                color: #9898cd
          .CodeMirror-gutters
            background-color: #282c34
        .compiler
          background-color: #21252b
          rfs-font-size(1.625rem)
          code
            rfs-font-size(1.25rem)
            color: #e6e6e6
          .idle
            border-top: 0.125rem solid #373d48
            font-size: 0.85em
            padding: 0.75rem
            svg
              opacity: 0.9
              width: 1em
              height: 1em
          .running
            font-size: 0.85em
            border-top-color: #429ab8
            padding: 0.75rem
            svg
              width: 0.85em
              height: 0.85em
          .redo
            font-size: 0.85em
            svg
              width: 1em
              height: 1em
          .stdout
            border-top-color: #42b983
            padding: 0.75rem
          .stderr
            border-top-color: #b84242
            padding: 0.75rem
          .error
            font-size: 0.85em
            border-top-color: #b84242
            padding: 0.75rem
            svg
              width: 0.85em 
              height: 0.85em

// Post
.post-term-one
  color: $postColorOne
  font-style: italic
.post-term-two
  color: $postColorTwo
  font-style: italic
.post-term-three
  color: $postColorThree
  font-style: italic
.post-term-four
  color: $postColorFour
  font-style: italic
.post-term-five
  color: $postColorFive
  font-style: italic

.post-term-bold
  font-weight: bold
.post-example
  margin-left: 2.8125rem

.website-diagrams
  display: flex
  justify-content: center

// Inline Code Blocks
.theme-default-content
  .inline-code-block
    word-break: break-word
    color: #fff
    background-color: #373c49
    border-radius: 0.1875rem

// Flow Charts
.edgePath 
  .path
    stroke: #754d34 !important
  .arrowheadPath
    fill: #754d34 !important
.edgeLabel
  background-color: #282c34 !important
  color: #e6e6e6 !important
  font-size: 1rem
  rect
    fill: #16181d !important
    opacity: 1 !important
.node 
  rect
    fill: #282c34 !important
    stroke: #16181d !important
    stroke-width: 0.125rem !important
  .label
    color: #e6e6e6 !important

// Pagination
#pagination
  display: flex
  justify-content: space-between
  padding-top: 2rem
  