$rfs-base-value = 1rem
$rfs-breakpoint-unit = rem
$rfs-breakpoint = 75rem

$backgroundColor = #1f2229
$backgroundColorTwo = #21242c
$backgroundColorThree = #2c303a
$backgroundColorFour = #373c49
$accentColor = #eb7132
$textColor = #e6e6e6
$borderColor = #754d34
$disabledColor = #aaaaaa
$codeBackgroundColor = #282c34

$postColorOne = #ebeb33
$postColorTwo = #33eb61
$postColorThree = #33ebeb
$postColorFour = #cc99ff
$postColorFive = #ef5d5d

$MQMobile = 850px
