$rfs-base-value = 1rem
$rfs-breakpoint-unit = rem
$rfs-breakpoint = 75rem

$accentColor = #eb7132
$textColor = #e6e6e6
$borderColor = #754d34
$codeBgColor = #282c34

$postColorOne = #ebeb33
$postColorTwo = #33eb61
$postColorThree = #33ebeb
$postColorFour = #cc99ff

$MQMobile = 850px