.post-term-one
  color: $postColorOne
  font-style: italic
.post-term-two
  color: $postColorTwo
  font-style: italic
.post-term-three
  color: $postColorThree
  font-style: italic
.post-term-four
  color: $postColorFour
  font-style: italic
.post-term-five
  color: $postColorFive
  font-style: italic

.post-term-bold
  font-weight: bold
.post-example
  margin-left: 2.8125rem

.website-diagrams
  display: flex
  justify-content: center
